.main-div {
  height: 100%;
}

body {
  font-family: RobotoFont;
}

core-toolbar {
  border-color: #111;
  background-color: #444444;
  height: 44px;
}

.toolbar-left-most-button {
  position: absolute;
  left: 10px;
  padding: 0;
  top: 10px;
}

.toolbar-right-most-button {
  position: absolute;
  right: 10px;
  padding: 0;
  top: 10px;
}

:host paper-icon-button {
  color: white;
}

